{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<body class='op-ac'>

        <form method="post" class="mt-5">
                <fieldset>
                        <legend>Connectez vous</legend>

                        {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                                <div class="mb-3">
                                        <h4>Bonjour</h4> 
                                       <p> Une erreur c'est produite lors de la connexion, veuillez réessayer. </p>  
                                        <a class="btn btn-sm btn-danger" href="{{ path('home') }}">Accueil</a>
                                        <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déco</a>
                                </div>
                        {% else %}
                                <div class="row">
                                        <div class="col-12 mt-3 field-form">
                                                <input type="text" value="{{ last_username }}" name="email" id="inputUsername" class="form-control" required autofocus placeholder="pseudo">
                                        </div>
                                        <div class="col-12 mt-3  field-form">
                                                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
                                        </div>
                                </div>
                                <button class="btn btn-success" type="submit">
                                        Connexion
                                </button>
                        {% endif %}
                                    <button onclick="goBack()" style="margin-top: 20px;" class="btn btn-danger">Retour</button>

                        <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                        >

                

                        <div class="checkbox mb-3">
                                <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                        </div>
                
                </fieldset>
        </form>
        </body>
{% endblock %}