{% extends 'base.html.twig' %}

{% block title %}Page membre{% endblock %}

{% block body  %}

        <body class="ac-ag">
               <!-- ================ -->
               <div class="dropdown ">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('inscription_agent', {'id': app.user.id}) }}">Modifier mon compte</a>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
  </div>
</div>

                  {% include "_partials/_header.html.twig" %}





    <!--Start container table control-->

    <section class="page">
        <section>
            <ul class="tabs-controls">
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link tabs-controls__link--active" data-id="1">
                        Culte
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="2">
                        Winslow
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="3">
                        Alchimiste
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="4">
                        Cryptaegis
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="5">
                        4chan.onion
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="6">
                        L'Anneau
                    </a>
                </li>
                <li class="tabs-controls__item">
                    <a href="#" class="tabs-controls__link" data-id="7">
                    </a>
                </li>
            </ul>
        </section>
        <!--end container table control-->

        <!--Start container card-->

        <section class="cards-container">
            <div class="card card--current" id="1">
                <p class="title-mission">Culte Alias Le culte</p>
                <p>
                <p>Statut: en cours</p><br>
                <p>Mission d'infiltration en Australie : Opération furtive, exécutée avec précision et discrétion.</p><br>
                <p>Objectif : pénétrer les lignes ennemies, collecter des renseignements vitaux et éliminer les menaces. Équipement spécialisé, tactiques avancées et esprit d'équipe sont nécessaires pour mener à bien cette mission cruciale. Préparez-vous à l'action. </p><br>
                <p>Agent: Leon scott kennedy & Ada wong </p><br>
                <p>Contact : le marchand</p><br>
                <p>Cible : le culte</p><br>
                <p>Planque: Usine désinfecté</p><br>
                <p>Spécialité: connaissance poison</p><br>
                <p>Date de début:20/01/2023</p>
                <p>Date de fin : 20/01/2024</p><br>
                </p>
            </div>
            <div class="card" id="2">
                <p class="title-mission">Organisation Alias Winslow</p>
                <p>
                <p>Statut: En préparation</p><br>
                <p>Mission secrète au Japon : Surveiller discrètement une organisation yakuza. Agents infiltrés, technologies avancées, l'ombre et la discrétion sont essentielles pour décrypter leurs activités clandestines. Chaque mouvement observé révèle un fragment du puzzle complexe, exposant les mystères du monde souterrain des yakuza. Le danger est omniprésent, mais la quête de vérité continue dans ce jeu d'espionnage intense. </p><br>
                <p>Agent: Leon scott kennedy & Ada wong </p><br>
                <p>Contact : Kuzuyama Sukefusa</p><br>
                <p>Cible : Ryūketsu-kai </p><br>
                <p>Planque: Le restaurant la Tanière de Griffe </p><br>
                <p>Spécialité: Capacité à analyser des schémas criminels, des flux d'argent et des activités suspectes. </p><br>
                <p>Date de début:20/01/2024 </p>
                <p>Date de fin : 31/10/2025 </p><br>
                </p>
            </div>
            <div class="card" id="3">
                <p class="title-mission">Alchimiste Alias Alchimiste</p>
                <p>
                <p>Statut: Terminé</p><br>
                <p>Dans l'ombre des rues illuminées de la ville, l'agent clandestin se faufile, chargé d'une mission d’élimination contre un laboratoire pharmaceutique. Le laboratoire, connu pour ses expérimentations controversées, cache des secrets susceptibles de secouer l'équilibre mondial. Équipé de gadgets high-tech, l'agent doit contourner les systèmes de sécurité sophistiqués, pirater les serveurs et déjouer les gardes afin de s'infiltrer. Chaque pas est empreint de risques, mais la vérité qu'il cherche à dévoiler motive son périple nocturne. L'ombre devient alliée dans cette quête de révélation. </p><br>
                <p>Agent: Excella Gionne & Albert Wesker </p><br>
                <p>Contact : Chaska </p><br>
                <p>Cible : GenèseBioTech </p><br>
                <p>Planque: "End Zone Elegance Suite” Stade NFL </p><br>
                <p>Spécialité: Utilisation avancée de la technologie de surveillance et de l'informatique. </p><br>
                <p>Date de début:22/06/2024</p>
                <p>Date de fin : 25/06/2025</p><br>
                </p>
            </div>
            <div class="card" id="4">
                <p class="title-mission">Lara ombre Alias "Cryptaegis"</p>
                <p>
                <p>Statut: Echec (fuite de la cible)</p><br>
                <p>Opération Rift Shadow en Afrique : Infiltration discrète pour récupérer des données cruciales détenues par le mystérieux hacker, surnommé "Cryptaegis". L'équipe d'élite se glisse dans l'ombre des marchés numériques clandestins. Objectif double : extraire les informations et potentiellement recruter Cryptaegis pour les intérêts de la sécurité nationale. Le paysage africain devient le théâtre d'une mission où la technologie de pointe et l'ingéniosité tactique convergent pour assurer la réussite de cette quête secrète.</p><br>
                <p>Agent: Sheva Alomar & HUNK</p><br>
                <p>Contact : Malik Nkosi </p><br>
                <p>Cible: Cryptaegis </p><br>
                <p>Planque: Harmony Canal </p><br>
                <p>Spécialité: Connaissance approfondie de l'environnement urbain Africaine. </p><br>
                <p>Date de début:05/10/2023 </p>
                <p>Date de fin : indéfinis </p><br>
                </p>
            </div>
            <div class="card" id="5">
                <p class="title-mission">CICATRA Alias 4chan.onion</p>
                <p>
                <p>Statut: En préparation</p> <br>
                <p>Opération Cryptographe Obscur France : Une secte énigmatique orchestre des réunions dans les sous-sols parisiens. Leur livre, crypté dans les abysses du dark web, est la clé. Des agents infiltrés déchiffrent les codes ésotériques, traquant des indices disséminés dans le labyrinthe numérique. Chaque page révèle des détails sur les mystérieuses rencontres. À Paris, les agents résolvent l'énigme urbaine, démêlant les fils d'une conspiration ésotérique qui atteint les profondeurs de la ville.</p><br>
                <p> Agent: Ethan Winters & Rose Winters</p><br>
                <p>Contact : Madeline Noir</p><br>
                <p>Cible: CICATRA</p><br>
                <p>Planque: Wide Awake Café</p><br>
                <p>Spécialité: Connaissance approfondie de l'environnement urbain parisien</p><br>
                <p>Date de début:05/10/2023</p>
                <p>Date de fin : 20/02/2024</p><br>
                </p>
            </div>
            <div class="card" id="6">
                <p class="title-mission">Le bijoux Alias L'Anneau Unique</p>
                <p>
                <p>Statut: En cours</p><br>
                Opération Sombre Éclat en Transylvanie : La mystique région abrite l'Anneau Unique, porteur d'un code secret crucial. Ce bijou antique est lié à un plan pour une arme secrète. Les agents, plongés dans l'atmosphère envoûtante, traquent les indices menant à l'anneau. Sa découverte révélera le code, débloquant ainsi les plans de l'arme. Entre folklore et espionnage, la mission équilibre habilement l'ancien et le moderne dans cette quête périlleuse à travers les Carpates. <br>
                <p>Agent: Sherry Birkin & Carlos Oliveira </p><br>
                <p>Contact: Vladimir Sombra</p><br>
                <p>Cible:</p><br>
                <p>Planque: Château de l'Ombre </p><br>
                <p>Spécialité: Compréhension des traditions et de la culture transylvanienne.</p><br>
                <p>Date de début: 05/10/2023</p>
                <p> Date de fin: 20/022025</p><br>
                </p>
            </div>
            <div class="card" id="7">
                <p class="title-mission">{{Nom}}</p>
                <p>
                <p>Statut:{{Statut}}</p><br>
                <p>Alias : {{Alias}} <br>
                <p> {{Description}} </p><<br>
                <p>Agent:</p><br>
                <p>Contact: {{Contact}}</p><br>
                <p>Cible:{{Cible}}</p><br>
                <p>Planque: {{Planque}} </p><br>
                <p>Spécialité:</p><br>
                <p>Date de début: {{DateDebut}}</p>
                <p> Date de fin: {{DateFin}}</p><br>
                </p>
            </div>
        </section>
    </section>


          {% include "_partials/_footer.html.twig" %}

        </body>
{% endblock %}